In [1]:
import pandas as pd
import numpy as np
import os, pickle

In [2]:
#list all files in data folder
files = os.listdir('data')

In [3]:
files[0].replace(".csv","")
#load files[0] in a dataframe
df = pd.read_csv('data/'+files[0])

/var/folders/9h/wspygsdd64nc8w1bt957q7t40000gn/T/ipykernel_11986/3345907934.py:3: DtypeWarning: Columns (28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/'+files[0])

In [4]:
#for file in files load file csv in a dataframe
datas={}
for file in files:
    datas[file.replace(".csv","")]=pd.read_csv('data/'+file)

/var/folders/9h/wspygsdd64nc8w1bt957q7t40000gn/T/ipykernel_11986/4195821602.py:4: DtypeWarning: Columns (28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  datas[file.replace(".csv","")]=pd.read_csv('data/'+file)

In [5]:
datas.keys()

dict_keys(['weather_legs', 'legs', 'user_details', 'experience_factors', 'mots', 'user_generic_worthwhileness_values', 'worthwhileness_elements_from_trips', 'activities', 'user_specific_worthwhileness_values', 'weather_raw', 'legs_coordinates', 'trips', 'purposes'])

In [6]:
datas['legs']['dateonly']=datas['legs']['start_date'].apply(lambda x: x.split(' ')[0])

In [7]:
datas['legs'].groupby(['userid','dateonly','tripid']).count()

                                                    legid  class  motid
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591      2      2      2  \
                                        #31:16660       1      1      1
                                        #32:16012       1      1      1
                                        #32:16060       1      1      1
                             2019-10-26 #30:16296       1      1      1
...                                                   ...    ...    ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087        1      1      1
                             2019-06-23 #31:4146        4      4      4
                             2019-06-26 #30:4415        8      8      8
                                        #32:4356        3      3      3
                                        #33:4332        1      1      1

                                                    start_date  end_date
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591           2         2  \
                                        #31:16660            1         1
                                        #32:16012            1         1
                                        #32:16060            1         1
                             2019-10-26 #30:16296            1         1
...                                                        ...       ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087             1         1
                             2019-06-23 #31:4146             4         4
                             2019-06-26 #30:4415             8         8
                                        #32:4356             3         3
                                        #33:4332             1         1

                                                    true_distance
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591              2  \
                                        #31:16660               1
                                        #32:16012               1
                                        #32:16060               1
                             2019-10-26 #30:16296               1
...                                                           ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087                1
                             2019-06-23 #31:4146                3
                             2019-06-26 #30:4415                6
                                        #32:4356                2
                                        #33:4332                1

                                                    leg_distance
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591             2  \
                                        #31:16660              1
                                        #32:16012              1
                                        #32:16060              1
                             2019-10-26 #30:16296              1
...                                                          ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087               1
                             2019-06-23 #31:4146               3
                             2019-06-26 #30:4415               6
                                        #32:4356               2
                                        #33:4332               1

                                                    leg_duration
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591             2  \
                                        #31:16660              1
                                        #32:16012              1
                                        #32:16060              1
                             2019-10-26 #30:16296              1
...                                                          ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087               1
                             2019-06-23 #31:4146               4
                             2019-06-26 #30:4415               8
                                        #32:4356               3
                                        #33:4332               1

                                                    worthwhileness_rating
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591                      2  \
                                        #31:16660                       1
                                        #32:16012                       1
                                        #32:16060                       1
                             2019-10-26 #30:16296                       1
...                                                                   ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087                        1
                             2019-06-23 #31:4146                        4
                             2019-06-26 #30:4415                        8
                                        #32:4356                        3
                                        #33:4332                        1

                                                    transport_category
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591                   2  \
                                        #31:16660                    1
                                        #32:16012                    1
                                        #32:16060                    1
                             2019-10-26 #30:16296                    1
...                                                                ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087                     1
                             2019-06-23 #31:4146                     3
                             2019-06-26 #30:4415                     6
                                        #32:4356                     2
                                        #33:4332                     1

                                                    campaign  weekday
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591         2        2  \
                                        #31:16660          1        1
                                        #32:16012          1        1
                                        #32:16060          1        1
                             2019-10-26 #30:16296          1        1
...                                                      ...      ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087           1        1
                             2019-06-23 #31:4146           4        4
                             2019-06-26 #30:4415           8        8
                                        #32:4356           3        3
                                        #33:4332           1        1

                                                    weekday_class
userid                       dateonly   tripid
01joA7CpmoSCykPkXgexjUJmo0t1 2019-10-25 #133:20591              2
                                        #31:16660               1
                                        #32:16012               1
                                        #32:16060               1
                             2019-10-26 #30:16296               1
...                                                           ...
zzud3VJFYAd8w00PlyVkfjQJvNH2 2019-06-22 #33:4087                1
                             2019-06-23 #31:4146                4
                             2019-06-26 #30:4415                8
                                        #32:4356                3
                                        #33:4332                1

[64201 rows x 13 columns]

In [8]:
#return the average number of tripid per user per day
datas['legs'].groupby(['userid','dateonly']).count().groupby('userid').mean()['tripid'].mean()

4.597558471373145

In [9]:
datas['legs']['transport_category'].value_counts()

transport_category
walking                           55246
private_motorized                 30537
cycling_emerging_micromobility    19234
public_transp_short_dist          14510
public_transp_long_dist            1104
Name: count, dtype: int64

In [10]:
datas['legs'][pd.isna(datas['legs']['transport_category'])]

,legid,class,userid,tripid,motid,start_date,end_date,true_distance,leg_distance,leg_duration,worthwhileness_rating,transport_category,campaign,weekday,weekday_class,dateonly
15,#28:2213,WaitingEvent,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#32:3465,4,2019-06-13 07:07:33.756,2019-06-13 07:09:25.096,NaN,NaN,0.000,-1.0,NaN,BEL,Thursday,Working_day,2019-06-13
40,#28:1036,WaitingEvent,kgF4dsYgK6RN1Qp0kzJVyWnDaUe2,#33:1596,4,2019-05-11 08:00:21.952,2019-05-11 08:05:56.037,NaN,NaN,0.000,-1.0,NaN,BEL,Saturday,Weekend,2019-05-11
42,#29:1014,WaitingEvent,kgF4dsYgK6RN1Qp0kzJVyWnDaUe2,#33:1596,4,2019-05-11 08:35:08.045,2019-05-11 08:40:49.986,NaN,NaN,0.000,-1.0,NaN,BEL,Saturday,Weekend,2019-05-11
45,#26:1077,WaitingEvent,kgF4dsYgK6RN1Qp0kzJVyWnDaUe2,#33:1596,4,2019-05-11 10:27:05.206,2019-05-11 10:31:02.239,NaN,NaN,0.000,-1.0,NaN,BEL,Saturday,Weekend,2019-05-11
47,#27:1059,WaitingEvent,kgF4dsYgK6RN1Qp0kzJVyWnDaUe2,#33:1596,4,2019-05-11 10:36:32.177,2019-05-11 10:42:43.123,NaN,NaN,0.000,-1.0,NaN,BEL,Saturday,Weekend,2019-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158861,#223:46511,Leg,vKi94YKUGFfKXGvGyogidfF6qU32,#130:20544,4,2019-11-06 18:50:44.096,2019-11-06 18:52:55.168,0.0,240.118,47.999,4.0,NaN,ESP,Wednesday,Working_day,2019-11-06
158864,#222:46518,Leg,vKi94YKUGFfKXGvGyogidfF6qU32,#131:20541,4,2019-11-14 19:35:39.264,2019-11-14 19:40:01.408,0.0,3085.847,188.006,0.0,NaN,ESP,Thursday,Working_day,2019-11-14
158874,#226:13390,WaitingEvent,vKi94YKUGFfKXGvGyogidfF6qU32,#130:21198,4,2019-11-29 08:19:06.880,2019-11-29 08:23:29.024,NaN,NaN,0.000,0.0,NaN,ESP,Friday,Working_day,2019-11-29
158878,#227:13250,WaitingEvent,xeO24JQhH5P2bPoO2QJrtdYwVlk1,#133:20946,4,2019-11-29 09:59:04.642,2019-11-29 10:23:47.928,NaN,NaN,0.000,3.0,NaN,ESP,Friday,Working_day,2019-11-29
158886,#229:12157,WaitingEvent,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#130:19261,4,2019-11-26 16:44:59.472,2019-11-26 17:00:34.589,NaN,NaN,0.000,-1.0,NaN,CHE,Tuesday,Working_day,2019-11-26

In [11]:
datas['legs_coordinates']

,legid,start_lat,start_lon,end_lat,end_lon,start_name,start_country,start_class,end_name,end_country,end_class
0,#223:33591,51.100,3.050,51.150,3.050,NaN,NaN,rural,NaN,NaN,rural
1,#224:33591,51.130,3.165,51.130,3.165,Bruges,BEL,sub-urban,Bruges,BEL,sub-urban
2,#225:33590,51.130,3.165,51.130,3.165,Bruges,BEL,sub-urban,Bruges,BEL,sub-urban
3,#222:33592,51.150,3.050,51.150,3.050,NaN,NaN,rural,NaN,NaN,rural
4,#227:9335,51.150,3.050,51.150,3.050,NaN,NaN,rural,NaN,NaN,rural
...,...,...,...,...,...,...,...,...,...,...,...
180508,#224:47071,46.520,6.565,46.520,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
180509,#225:47061,46.520,6.565,46.545,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
180510,#222:47083,46.625,6.575,46.520,6.575,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
180511,#223:47078,46.520,6.565,46.520,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
180512,#224:47072,46.625,6.575,46.520,6.575,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban

In [12]:
legmerged=pd.merge(datas['legs'],datas['legs_coordinates'],on='legid')
legmerged

,legid,class,userid,tripid,motid,start_date,end_date,true_distance,leg_distance,leg_duration,...,start_lat,start_lon,end_lat,end_lon,start_name,start_country,start_class,end_name,end_country,end_class
0,#24:3498,Leg,o3QNooVleBR9WfbIaCqsaj3DlDl2,#32:1461,7,2019-05-06 16:26:16.773,2019-05-06 16:38:30.295,497.0,218.0,0.0,...,38.736,-9.141,38.735,-9.141,Lisbon,PRT,urban,Lisbon,PRT,urban
1,#25:3400,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#31:1449,7,2019-05-07 14:31:11.110,2019-05-07 14:36:22.474,0.0,385.0,0.0,...,50.847,4.353,50.845,4.357,Brussels,BEL,urban,Brussels,BEL,urban
2,#25:3460,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#30:1498,7,2019-05-07 15:40:10.952,2019-05-07 15:43:29.090,37.0,37.0,0.0,...,51.200,4.850,51.200,4.850,NaN,NaN,rural,NaN,NaN,rural
3,#24:3479,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#33:1435,1,2019-05-07 15:54:37.610,2019-05-07 16:00:42.174,0.0,580.0,0.0,...,51.200,4.800,51.200,4.800,NaN,NaN,rural,NaN,NaN,rural
4,#23:5342,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#33:2147,9,2019-05-21 04:45:12.391,2019-05-21 04:47:30.021,658.0,658.0,0.0,...,51.200,4.850,51.200,4.800,NaN,NaN,rural,NaN,NaN,rural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130612,#222:47082,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,7,2019-11-28 12:04:33.538,2019-11-28 12:10:38.924,206.0,206.0,365.0,...,46.540,6.565,46.545,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
130613,#223:47077,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,9,2019-11-28 12:10:38.924,2019-11-28 12:25:37.025,4957.0,4957.0,0.0,...,46.545,6.565,46.525,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
130614,#224:47071,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,7,2019-11-28 12:25:37.025,2019-11-28 12:27:53.168,364.0,364.0,0.0,...,46.520,6.565,46.520,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
130615,#224:47070,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#130:20811,7,2019-11-28 16:36:57.975,2019-11-28 16:38:29.151,78.0,78.0,0.0,...,46.520,6.565,46.520,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban
130616,#225:47060,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#130:20811,9,2019-11-28 16:38:29.151,2019-11-28 16:57:53.991,5577.0,5577.0,0.0,...,46.520,6.565,46.545,6.565,Lausanne,CHE,sub-urban,Lausanne,CHE,sub-urban

In [13]:
datas['user_details']['gender'].value_counts()

gender
Male      1880
Female    1435
Other       15
Name: count, dtype: int64

In [14]:
leg_coor_user_merged = pd.merge(legmerged,datas['user_details'],on='userid')
#parse start_date to datetime format
leg_coor_user_merged['start_date']=pd.to_datetime(leg_coor_user_merged['start_date'])
leg_coor_user_merged['end_date']=pd.to_datetime(leg_coor_user_merged['end_date'])
leg_coor_user_merged

,legid,class,userid,tripid,motid,start_date,end_date,true_distance,leg_distance,leg_duration,...,gender,age_range,lang,city,country,education_level,marital_status_household,number_people_household,labour_status_household,years_of_residence_household
0,#24:3498,Leg,o3QNooVleBR9WfbIaCqsaj3DlDl2,#32:1461,7,2019-05-06 16:26:16.773,2019-05-06 16:38:30.295,497.0,218.0,0.0,...,Male,16-24,eng,Lisboa,PRT,NaN,NaN,NaN,NaN,NaN
1,#25:3400,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#31:1449,7,2019-05-07 14:31:11.110,2019-05-07 14:36:22.474,0.0,385.0,0.0,...,Male,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN
2,#25:3460,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#30:1498,7,2019-05-07 15:40:10.952,2019-05-07 15:43:29.090,37.0,37.0,0.0,...,Male,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN
3,#24:3479,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#33:1435,1,2019-05-07 15:54:37.610,2019-05-07 16:00:42.174,0.0,580.0,0.0,...,Male,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN
4,#23:5342,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#33:2147,9,2019-05-21 04:45:12.391,2019-05-21 04:47:30.021,658.0,658.0,0.0,...,Male,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130612,#222:47082,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,7,2019-11-28 12:04:33.538,2019-11-28 12:10:38.924,206.0,206.0,365.0,...,Male,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN
130613,#223:47077,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,9,2019-11-28 12:10:38.924,2019-11-28 12:25:37.025,4957.0,4957.0,0.0,...,Male,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN
130614,#224:47071,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,7,2019-11-28 12:25:37.025,2019-11-28 12:27:53.168,364.0,364.0,0.0,...,Male,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN
130615,#224:47070,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#130:20811,7,2019-11-28 16:36:57.975,2019-11-28 16:38:29.151,78.0,78.0,0.0,...,Male,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN
130616,#225:47060,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#130:20811,9,2019-11-28 16:38:29.151,2019-11-28 16:57:53.991,5577.0,5577.0,0.0,...,Male,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN

In [15]:
leg_coor_user_merged['start_lat']

0         38.736
1         50.847
2         51.200
3         51.200
4         51.200
           ...
130612    46.540
130613    46.545
130614    46.520
130615    46.520
130616    46.520
Name: start_lat, Length: 130617, dtype: float64

In [16]:
#take columns start_lat, start_lon, end_lat, end_lon from leg_coor_user_merged and create a geopandas dataframe with crs epsg 3857 and linestring geometry from start to end
import geopandas as gpd
from shapely.geometry import LineString
leg_coor_user_merged['geometry']=leg_coor_user_merged.apply(lambda x: LineString([(x['start_lon'],x['start_lat']),(x['end_lon'],x['end_lat'])]),axis=1)

,legid,class,userid,tripid,motid,start_date,end_date,true_distance,leg_distance,leg_duration,...,age_range,lang,city,country,education_level,marital_status_household,number_people_household,labour_status_household,years_of_residence_household,geometry
0,#24:3498,Leg,o3QNooVleBR9WfbIaCqsaj3DlDl2,#32:1461,7,2019-05-06 16:26:16.773,2019-05-06 16:38:30.295,497.0,218.0,0.0,...,16-24,eng,Lisboa,PRT,NaN,NaN,NaN,NaN,NaN,"LINESTRING (-9.141 38.736, -9.141 38.735)"
1,#25:3400,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#31:1449,7,2019-05-07 14:31:11.110,2019-05-07 14:36:22.474,0.0,385.0,0.0,...,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN,"LINESTRING (4.353 50.847, 4.357 50.845)"
2,#25:3460,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#30:1498,7,2019-05-07 15:40:10.952,2019-05-07 15:43:29.090,37.0,37.0,0.0,...,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN,"LINESTRING (4.85 51.2, 4.85 51.2)"
3,#24:3479,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#33:1435,1,2019-05-07 15:54:37.610,2019-05-07 16:00:42.174,0.0,580.0,0.0,...,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN,"LINESTRING (4.8 51.2, 4.8 51.2)"
4,#23:5342,Leg,IGpJc0Az17bxe4MT6pHDx6lQ3LD2,#33:2147,9,2019-05-21 04:45:12.391,2019-05-21 04:47:30.021,658.0,658.0,0.0,...,25-49,dut,Brussels,BEL,NaN,NaN,NaN,NaN,NaN,"LINESTRING (4.85 51.2, 4.8 51.2)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130612,#222:47082,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,7,2019-11-28 12:04:33.538,2019-11-28 12:10:38.924,206.0,206.0,365.0,...,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN,"LINESTRING (6.565 46.54, 6.565 46.545)"
130613,#223:47077,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,9,2019-11-28 12:10:38.924,2019-11-28 12:25:37.025,4957.0,4957.0,0.0,...,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN,"LINESTRING (6.565 46.545, 6.565 46.525)"
130614,#224:47071,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#131:20807,7,2019-11-28 12:25:37.025,2019-11-28 12:27:53.168,364.0,364.0,0.0,...,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN,"LINESTRING (6.565 46.52, 6.565 46.52)"
130615,#224:47070,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#130:20811,7,2019-11-28 16:36:57.975,2019-11-28 16:38:29.151,78.0,78.0,0.0,...,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN,"LINESTRING (6.565 46.52, 6.565 46.52)"
130616,#225:47060,Leg,8g5HrJBPR6bhIdMr6qln8AAq4pp1,#130:20811,9,2019-11-28 16:38:29.151,2019-11-28 16:57:53.991,5577.0,5577.0,0.0,...,25-49,NaN,Lausanne,CHE,NaN,NaN,NaN,NaN,NaN,"LINESTRING (6.565 46.52, 6.565 46.545)"

In [30]:
leg_coor_user_merged['geometry'][5].length

0.005385164807135313